# Copiare in .env (o impostare come variabili d'ambiente del servizio) sul server interno.
DJANGO_SECRET_KEY=cambiare-con-una-stringa-lunga-e-casuale
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=analisi-rischi.cosmap.local
POSTGRES_DB=analisi_rischi
POSTGRES_USER=analisi_rischi
POSTGRES_PASSWORD=cambiare
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
