{% extends "admin/base_site.html" %}
{% load static %}
{% comment %}Pagine delle commesse con la stessa grafica della libreria (amministrazione di Django).{% endcomment %}
{% block title %}{% block titolo %}Analisi dei rischi{% endblock %} · Cosmap{% endblock %}
{% block extrastyle %}<link rel="stylesheet" href="{% static 'rischi/stile.css' %}">{% endblock %}
{% block usertools %}
{% if user.is_authenticated %}
<div id="user-tools">
  Benvenuto, <strong>{% firstof user.get_short_name user.get_username %}</strong>.
  {% block userlinks %}{{ block.super }}{% endblock %}
</div>
{% endif %}
{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}
{% block content %}{% block contenuto %}{% endblock %}{% endblock %}
